
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    background-color:#F1F9EB;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 400px;
    flex-direction: column;
    background-color: #7FBD32;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container div{
    padding: 10px;
}

button{
    width: 90px;
    align-self: center;
    margin-top: 20px;
}

h2{
    align-self: center;
}

span{
   color:red; 
}

input{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    font-size: 15px;
}
button{
    padding: 5px;
    border-radius: 5px;
    background-color: #9BD770;
}